@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

.border {
  border: 2px solid black;
  @apply overflow-hidden border-black rounded-lg;
}

textarea:focus, input:focus{
  outline: none;
}