@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

.border {
  @apply overflow-hidden border-black rounded-lg border-2;
}

textarea:focus, input:focus{
  outline: none;
}

.red-button {
  @apply border;
  @apply text-white font-display text-sm font-bold bg-mainRed rounded-full px-5 py-2 cursor-pointer;
}

.modal {
  @apply border fixed bg-white w-5/12 h-96 z-20 text-left p-10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  @apply fixed top-0 left-0 w-screen h-screen bg-black opacity-30 z-10
}